PORT=8081
DB_HOST=gaumuoi-db.cfgebptzoqga.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=aws_orders
DB_USER=your_rds_user
DB_PASSWORD=your_rds_password
DB_SSL=true
PAYMENT_SERVICE_URL=https://payment.example.com
DELIVERY_SERVICE_URL=https://delivery.example.com
