PORT=8082
DB_HOST=gaumuoi-db.cfgebptzoqga.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=gaumuoi
DB_USER=postgre
DB_PASSWORD=Gaumuoi123
DB_SSL=true
ORDER_SERVICE_URL=http://your-order-service-url
DELIVERY_SERVICE_URL=http://your-delivery-service-url
