AWS_ACCOUNT_ID=123456789012
AWS_DEFAULT_REGION=ap-southeast-1

FRONTEND_ECR_REPO=gaumuoi-frontend

FRONTEND_CONTAINER_NAME=frontend

VITE_API_MODE=live
VITE_DELIVERY_API_MODE=live
VITE_ORDER_SERVICE_URL=https://order.example.com
VITE_PAYMENT_SERVICE_URL=https://payment.example.com
VITE_DELIVERY_SERVICE_URL=https://delivery.example.com
